GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URI="http://localhost:3000/login/google/callback"
DB_ADAPTER="http://localhost:5237"
CF_ACCESS_CLIENT_SECRET=""
CF_ACCESS_CLIENT_ID=""
NODE_ENV="development"
PORT="3000"
HOST="0.0.0.0"