GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URI="http://localhost:5173/login/google/callback"
MEMGRAPH_URI="bolt://localhost:7687"
MEMGRAPH_USER="memgraph"
MEMGRAPH_PASSWORD="memgraph"